### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Fichiers sensibles ###
src/fr/sylviebal/dragon/character/DAO/DataBaseConnection.java

### Fichiers de configuration avec mots de passe ###
*.env
*.properties
config.java
application.properties

### Clés et certificats ###
*.key
*.pem
*.p12
*.jks

### Logs (peuvent contenir des infos sensibles) ###
*.log
logs/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store